@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(images/League-of-Legends-Wallpaper-Full-HD-1920x1080.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #f77e09;
}

p {
  color: white;
}

form input {
  width: 450px;
  height: 45px;
  background: #f5f7f9;
  border: 2px solid #282f66;
  border-radius: 5px;
  display: flex;
  margin-top: 3%;
  text-indent: 10px;
  transition: 0.1s;
}



p:nth-of-type(2) { 
    padding-top: 15px;
}

p:nth-of-type(3) { 
    position: absolute;
    bottom: 50px;
    display: block;
    text-align: center;
    width: 55%;
}

a{
    color: #f77e09;
    text-decoration: none;
}

button {
  width: 150px;
  height: 45px;
  left: 167px;
  top: 646px;
  background: #f77e09;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
  margin-left: 5px;
}

form input:focus {
    transform: scale(1.01);
    margin-left: 3px;
}

.container {
  display: flex;
}

.text {
  order: 1;
  padding: 10%;
  margin: 25px;
  position: relative;
}

.text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #f2f3f9;
    padding: auto;
  }

.image {
  order: 2;
}

.image img {
  height: 99.5vh;
  transition: 0.5s;
  transform: scale(1.01);
}

.image img:hover {
  padding-left: 5px;
}
