@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
 padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/League-of-Legends-Wallpaper-Full-HD-1920x1080.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

}

.login-h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #f77e09;
  padding-left: 0px;
}

.login-p {
  color: white;
}

.login-form input {
  width: 450px;
  height: 45px;
  background: #f5f7f9;
  border: 2px solid #282f66;
  border-radius: 5px;
  display: flex;
  margin-top: 3%;
  text-indent: 10px;
  transition: 0.1s;
}



.login-text p:nth-of-type(2) { 
    padding-top: 15px;
}

.login-text p:nth-of-type(3) { 
    position: absolute;
    bottom: 50px;
    display: block;
    text-align: center;
    width: 55%;
}

.login-text a{
    color: #f77e09;
    text-decoration: none;
}

.login-form button {
  width: 150px;
  height: 45px;
  left: 167px;
  top: 646px;
  background: #f77e09;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
  font-size: 20px;
}

.login-form button:hover {
  cursor: pointer;
  transform: scale(1.03);
  margin-left: 5px;
}

.login-form input:focus {
    transform: scale(1.01);
    margin-left: 3px;
}

.container-login {
  display: flex;
}

.login-text {
  order: 1;
  padding: 10%;
  position: relative;
  margin-bottom: 0px;padding-bottom: 0px;padding-top: 150px;
}

.login-text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #f2f3f9;
    padding: auto;
  }

.login-image {
  order: 2;
}

.login-image img {
  height: 99.5vh;
  transition: 0.5s;
  transform: scale(1.01);
}

.login-image img:hover {
  padding-left: 5px;
}


/* INICIO DO INDEX */

nav{
  background: #333547;
  height: 80px;
  width: 100%;
}
label.logo{
  color: #f77e09;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #f77e09;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 40vh;
    height: 100vh;
    background: #333547;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #f77e09;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.main-video video {
  width: 100vw;
  height: 55vh;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-video h1{
  color: white;
  position: absolute;
  top: 20%;
  left: 10%;
}

main h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #f77e09;
  padding-left: 3.5%;
}

main h1:nth-child(1) {
  padding-top: 2%;
}



.card {
  position: relative;
  width: 250px;
  height: 500px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-left: 2.5%;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #2c2a2a;
  transform: skewY(345deg);
  transition: 0.4s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(380deg);
}

.card::after {
  content: "ECOIN";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 5em;
  color: rgba(247, 126, 9, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #f77e09;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.product {
  height: 300px;
  width: auto;
}

footer {
  height: 7vh;
  width: 100vw;
  position: relative;
  background: #333547;
  bottom: 0;
  left: 0;
  z-index: -1;
}

footer p{
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}